<div class="row">
      <% @articles.each do |article| %>
      <div class="albums col-6 col-sm-3">
        <div id='wrapper'>
        <a href='<%= article_path(article) %>'><%= image_tag article.picture, class: 'hover d-block img-fluid' %></a>
        <p class='text'><%= article.title %></p>
        </div>
      </div>
      <% end %>
</div>


<%= will_paginate @articles, :style => 'color:black' %>



