<div class="formy col-7 offset-3">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'MAYDAY, NEED TO READ FIRST', articles_path %>
<%= link_to 'I GOT SOME WORDS TO SAY', edit_article_path(@article) %>
<div class="formy col-7 offset-3">