<div class="formy col-7 offset-3">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<ul class='text-right'>
<%= link_to 'READ RADAR', articles_path %>
<br />
<%= link_to 'SMOKE WORDS, REWRITE', edit_article_path(@article) %>
</ul>
</div>