<div class="formy col-10 offset-1">
<div class="dragon">
<li class="welcome text-center">
<%= link_to 'PERUSE THE MANUSCRIPTS', controller: 'articles' %>
</li>
<%= image_tag '17917038.jpeg', class: 'd-block img-fluid' %>
</div>
</div>
