<div class="formy col-10 offset-1">
<div class="dragon">
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New Article', new_article_path %>
<%= image_tag '17917038.jpeg', class: 'd-block img-fluid' %>
</div>
</div>
