@import "bootstrap";

html {
  cursor: crosshair;
}

body {
  background: image_url('joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg') no-repeat center center fixed;
  font-family: 'im_fell_dw_pica_proitalic', Garamond;
}

.formy {
  background-color: #ffffff;
  border: 1px solid white;
  opacity: 0.6;
  filter: alpha(opacity=80);
  padding: 10px;
}

.formy p {
  font-weight: bold;
  color: #000000;
}

.title {
  padding-top: 5px;
  padding-bottom: 5px;
}

.blog-name li a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.nav-items {
  margin-right: 10px;
  font-size: 10px;
}

ul {
  list-style-type: none;
}

.nav-items li a {
  color: #d1675c;
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: crosshair;
}

.responsive {
  height: auto;
  width: 100%;
}

.dragon {
  opacity: 0.6;
  filter: alpha(opacity=80);
}

.formy a {
  color: #8742f5;
  text-decoration: none;
  font-size: 17px;
}

.formy p {
  font-family: Didot;
  font-size: 17px;
  font-weight: 100;
}

.navigation {
  padding: 10px;
}

.manuscript {
  position: absolute;
  opacity: 0.6;
  filter: alpha(opacity=80);
}

.words {
  position: relative;
  margin-top: 50px;
}

.signature {
  font-size: 6px;
  margin-right: 5px;
}

.albums {
  opacity: 0.6;
  filter: alpha(opacity=80);
}

#wrapper .text {
  position:relative;
  bottom:30px;
  left:5px;
  visibility:hidden;
  font-size: 25px;
}

#wrapper:hover .text {
  visibility:visible;
}

h1 {
  font-size: 25px;
  color: #39c46c;
}

.row {
  padding-left: 6px;
  padding-right: 6px;
}

.current {
  font-size: 30px;
  letter-spacing: 3px;
}

.pagination a {
  color: black;
  text-decoration: none;
  letter-spacing: 9px;
}

.pagination {
  justify-content: center;
}

input {
  width: 100%;
  font-family: Didot;
}

textarea {
  width: 100%;
  height: 200px;
}

button, input, optgroup, select, textarea {
  font-family: Didot;
}












